@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "poppins";
  src: url("./fonts/Poppins/Poppins-Medium.ttf");
}


@font-face {
  font-family: "poppins-bold";
  src: url("./fonts/Poppins/Poppins-Bold.ttf");
}


@font-face {
  font-family: "poppins-semibold";
  src: url("./fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "poppins-light";
  src: url("./fonts/Poppins/Poppins-Light.ttf");
}

* {
  box-sizing: border-box !important;
  /* transition: ease all 0.5s; */
}

body {
  color: #666666;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  line-height: 1.80857;
  font-weight: normal;
  overflow-x: hidden;
  background: #ffffff !important;
  margin: "0px";
  padding: "0px";
}
